@import "../../global.scss";

.hero {
  display: grid;
  grid-template-columns: 66% auto;
  background-color: unset;
  padding: 0;

  .content {
    @include mobile {
      display: none;
    }
    background-color: #6e00ff;
    padding: 6em 8em 6em 4em;
    text-align: left;
    border-radius: 14px;
    margin-left: 4em;
    margin-bottom: 1em;

    h1 {
      @include mobile {
        font-size: 2.5em;
      }
      font-size: 4.5em;
      line-height: 1.2em;
      color: white;
      text-align: left;
      margin: 0.3em;
      margin-left: 2em;
    }
    p {
      color: #ff64cb;
      text-align: left;
      margin-left: 9em;
    }
    .scroll {
      margin-top: 4em;
      margin-left: 12em;
    }
  }
}

.meet {
  margin: unset;
}

.hero-design {
  @include mobile {
    display: none;
  }
  display: unset;
  margin-left: -50%;
  margin-top: 15%;
  width: 100%;
}
