@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;

      @include mobile {
        width: 100%;
        height: 90%;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        margin-top: 30px;
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 250px;
        }
      }

      textarea {
        margin-top: 25px;
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 1000px;
        }
      }

      button {
        margin-top: 25px;
        width: 150px;
        height: 30px;
        color: whitesmoke;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        @include mobile {
          width: 200px;
          height: 300px;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        margin-top: 10px;
        color: green;
      }
    }
  }
}
