@import "../../global.scss";

.works {
  padding: 30px 5px 0px 5px;
  background-color: #6e00ff;
  display: flex;

  @include mobile {
    flex-direction: column;
  }
  align-items: center;
  position: relative;
  gap: 20px;

  .title {
    display: none;

    @include mobile {
      margin-top: 10px;
      height: 100vh;
      display: contents;
      align-items: center;
      justify-content: center;
      color: rgb(233, 233, 233);
      font-size: 2rem;
    }
  }

  .story {
    flex: 8;
    display: none;
    font-weight: 100;

    @include mobile {
      height: 100vh;
      display: contents;
      width: 100vw;
      align-items: center;
      justify-content: center;
      margin: 15px;
      color: rgb(233, 233, 233);
      font-size: 22px;
      margin: 5px;
    }
  }

  .arrow {
    height: 70px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 120px;
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease-out;

    @include mobile {
      display: none;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 1000px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 150px;
          margin: 5px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              width: 100%;
              height: 100%;
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 25px;
                height: 25px;
                margin: 5px;
              }

              img {
                width: 25px;

                @include mobile {
                  width: 20px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile {
                font-size: 13px;
                margin: 5px;
              }
            }
            p {
              font-size: 13px;
              @include mobile {
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;

              @include mobile {
                margin: 5px;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 100px;
          overflow: hidden;

          @include mobile {
            width: 100%;
            height: 100%;
          }

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
